<div class="container py-5">
    <div class="container my-5">
        <table class="table">
            <thead class="bg-primary text-center">
              <tr>
                <th >#</th>
                <th >UserID</th>
                <th >TITLE</th>
                <th>VER MAS</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let usuario of listaRegistros; index as i ">
                <td scope="row">{{i+1}}</td>
                <td scope="row">{{usuario.userId}}</td>
                <td scope="row">{{usuario.title}}</td>
                <td scope="row"><button class="btn btn-info text-light" ><i class="fa-solid fa-eye"></i></button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
