<div class="container py-5">
    <div class="container my-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">UserID</th>
                <th scope="col">TITLE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of listaRegistros; index as i ">
                <th scope="row"></th>
              </tr>
            </tbody>
          </table>
    </div>
</div>
