<div class="container py-5">
    <div class="row my-3">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--------card de usuario---->
            <div class="card" *ngFor="let user of userEncontrado">
                <div class="card-body">
                    <h3 class="card-title text-center py-3 ">Información de Usuario</h3>
                    <h5 class="card-title text-center fs-2 fw-bold pb-3">{{user.name}}</h5>
                    <div class="container">
                        <p class="card-text fw-bold">ID: </p> 
                        <p>{{user.id}}</p>
                        <p class="card-text fw-bold">nombre usuario: </p> 
                        <p>{{user.username}}</p>
                        <p class="card-text fw-bold">email: </p> 
                        <p>{{user.email}}</p>
                        <p class="card-text fw-bold">telefono: </p> 
                        <p>{{user.phone}}</p>
                    </div>
                    <div class="container d-flex justify-content-center flex-wrap gap-3 py-2">
                        <a routerLink="/"  class="btn rounded-5 px-5 py-2 fs-5 btn__regresar"><i class="fa-solid fa-circle-chevron-left"></i> Regresar</a>
                        <button  (click)="MostrarTodos(user.id)" class="btn rounded-5 px-5 py-2 fs-5 btn__ver pulso">Ver lista de todos</button>
                        
                    </div>
                </div>
              </div>
        </div>
        <!-----columna de todos--->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-------si no hay datos en array--->
            <div class="container" *ngIf="userTodo.length<=0 else divTodos">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center py-3 ">Todos</h3>
                        <img style="width: 92%;" src="https://static.vecteezy.com/system/resources/previews/000/963/090/large_2x/cartoon-man-with-to-do-list-on-clipboard-vector.jpg" alt="">
                    </div>
                </div>
            </div>
             <!-------si ya dio click--->
            <ng-template #divTodos>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center py-3 ">Todos</h3>
                    
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item" *ngFor="let todos of userTodo, index as i">
                            <h2 class="accordion-header border border-primary" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="{{ '#' + todos.id}}" aria-expanded="false" attr.aria-controls="{{todos.id}}">
                                    {{i+1}} . {{todos.title}}
                                </button>
                            </h2>
                            <div id="{{todos.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead class="text-center">
                                          <tr>
                                            <th scope="col">UserID</th>
                                            <th scope="col">ID TODO</th>
                                            <th scope="col">COMPLETED</th>
                                          </tr>
                                        </thead>
                                        <tbody class="text-center">
                                          <tr >
                                            <th scope="row">{{todos.userId}}</th>
                                            <td>{{todos.id}}</td>
                                            <td [ngClass]="{'bg-danger bg-opacity-25': todos.completed==false , 'bg-success bg-opacity-50':todos.completed==true }" >{{todos.completed==true ? 'completado':'No completado'}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </ng-template>
        </div>
    </div>
</div>
