.btn__ver{
    background-color: #150050;
    color: #Fff;
}
.btn__regresar{
    background-color: #2a0c7eb3;
    color: #Fff;
}
.btn__regresar:hover{
    background-color: #0c7e15b3;
    color: #Fff;
}
.pulso {
	animation: puslobtn 1.5s ease-in-out infinite both;
}
  @keyframes puslobtn {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(0.98);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(0.87);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }